# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

# ==========================
# Virtual Environments
# ==========================
venv/
env/
ENV/
.venv/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak

# ==========================
# Tableau Temporary Files
# ==========================
*.twbr
*.twb~
